*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#head {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: logo-design 500ms linear infinite normal;
}

@keyframes logo-design {
    from{color: black;}
    to{color: blue;}
}

div input {
    border: black 1px solid;
    text-align: right;
    outline: none;
}

/*This is the beginning of the styling of the functional buttons*/
#cal-btn {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
}
    
.func-btn {
    transition: all 300ms linear;
    box-shadow: 1px 1px 3px black;
    background-color: blue;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    color: black;
}

.func-btn:hover {
    transform: scale(1.06, 1.06);;
}

/*This is the beginning of the styling of the numericals, equal and clear button*/
#param {
    display: grid;
}

#total-btn {
    color: black;
    background-color: blue;
}

#clear-btn {
    color: black;
    background-color: blue;
}

.param-btn {
    transition: all 300ms linear;
    color: black;
    background-color: rgb(182, 182, 182);
    border: hidden;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 3px black;
    outline: none;
}

.param-btn:hover {
    background-color: blue;
    color: black;
}





@media screen and (max-width: 767px) {

    #body {
        padding: 0.5rem;
    }

    #head {
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    div input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    #input-div {
        margin: 2rem 0;
    }

    #cal-btn {
        grid-gap: 0.5rem;
        margin: 2rem 0;
    }

    .func-btn {
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        font-size: 1.5rem;
    }

    #param {
        grid-gap: 0.5rem;
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .param-btn {
        padding: 0.25rem 0.5rem 0.25rem 0.5rem; 
        font-size: 1.5rem;
    }
}






@media all and (max-width: 1023px) and (min-width: 768px) {
        
    #body {
        padding: 1rem;
    }

    #head {
        font-size: 2.5rem;
        margin: 2rem 0;
    }

    div input {
        width: 100%;
        padding: 1rem;
        font-size: 2.5rem;
    }

    #input-div {
        margin-bottom: 2rem;
    }

    #cal-btn {
        grid-gap: 1rem;
        margin-bottom: 2rem;
    }

    .func-btn {
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
        font-size: 2.5rem;
    }

    #param {
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .param-btn {
        padding: 0.5rem 0.75rem 0.5rem 0.75rem; 
        font-size: 2.5rem;
    }
}






@media all and (min-width: 1024px) {

    #body {
        padding: 1rem;
        border: 2px solid black;
        width: 50%;
        height: fit-content;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #head {
        font-size: 1.5rem;
        margin: 0.5rem 0 1rem 0;
    }

    div input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    #input-div {
        margin-bottom: 1rem;
    }

    #cal-btn {
        grid-gap: 1rem;
        margin-bottom: 1rem;
    }

    .func-btn {
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
        font-size: 2rem;
    }

    #param {
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }

    .param-btn {
        padding: 0.5rem 0.75rem 0.5rem 0.75rem; 
        font-size: 2rem;
    }
}